body {
    background-color: #067;
}

.main-content {
    background-color: #387;
    display: table;
    table-layout: fixed;
}

.sidebar {
    width: 250px;
    padding: 30px;
    display: table-cell;
    vertical-align: top;
    box-sizing: content-box;
}

.main-panel {
    padding-top: 30px;
    display: table-cell;
    vertical-align: top;
}

.profile-picture {
    padding-bottom: 30px;
}

.profile-picture img {
    border-radius: 50%;
    object-fit: cover;
}

.sidebar-section {
    color: #FFF;
    border-top: 1px solid #000;
    padding-top: 5px;
    margin-bottom: 35px;
    text-align: justify;
}
